<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home</title>
</head>
<body>
<h1 th:text="'My Recipes!'">Index</h1>
<table>
    <thead>
    <tr>
        <td>Description</td>
        <td>URL</td>
        <td>Note</td>
        <td>Category</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.getDescription()}">Description Placeholder</td>
        <td th:text="${recipe.getUrl()}">URL Placeholder</td>
        <td th:text="${recipe.getNotes().getRecipeNotes()}">Note Placeholder</td>
        <td th:text="${recipe.getCategories()[0].getDescription()}">Category Placeholder</td>
    </tr>
    </tbody>
</table>

</body>
</html>